# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Virtual Environments
# ===========================
venv/
.venv/
env/
ENV/

# ===========================
# Python Cache
# ===========================
.pytest_cache/
.mypy_cache/

# ===========================
# Streamlit Cache
# ===========================
.streamlit/cache/

# ===========================
# Build Files
# ===========================
build/
dist/
*.egg-info/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment Variables
# ===========================
.env

# ===========================
# Temporary Files
# ===========================
*.tmp

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# Project training files
# ===========================
data/
models/
Test Image Manual/